{% extends 'base.html' %}
{% load static %}

{% block contenido %}
    <h1>Soy Burro y te desaburro, sino me aburro.</h1>
    <h2>ATENCIÓN: aquí hacemos bullying.</h2>
    <br><br>
    <p>En este sitio te informamos de manera atrevida, divertida y ocurrente sobre el tema del momento: INTELIGENCIA ARTIFICIAL.</p>
    <p>...Divertido para mí, nadie dijo que iba a ser divertido para vos.<p>
    <p>En fin, La Inteligencia Artificial vino para quedarse, apoderarse de nuestra vida, nuestra mente, nuestro trabajo, nuestro mundo... Fijate que antes te dominaba tu mujer y ahora te domina el celular ¿O no? Antes, confeccionábamos la lista de compras en cualquier papelito que encontábamos por ahí, ahora le dictamos la lista al asistente de Google... Así se va apoderando de tu vida sin que te des cuenta, y vos no podés vivir sin ella porque ella tiene lo vos no tenés, INTELIGENCIA ¡Burro!</p>
    <h3>Don´t worry ¡No es tan así!</h3>
    <p>Aquí encontrarás la información que necesitas saber sobre IA... ¡Pregúntame! ¡Pregúntame!</p>
{% endblock %}