{% load  colaborador_tags %}
<center>
    <div class= "conta-g" style="margin-bottom: 20px;">
        <h4>Comentarios</h4>
        <div class="cos-c mx-sm-5 pt-3">
            {% for comentario in comentarios %}
            <li>Por: {{ comentario.usuario }}</li>
            <p>{{ comentario.texto }}</p>
            <div class="com-eli ">
                {% if user.is_superuser or comentario.usuario == user %}
                <a class="btn btn-info" id= "boton_post" href= "{% url 'apps.post:comentario_modificar' pk=comentario.pk %}?next={{ request.path }}">Editar</a>
                {% endif %}
                {% if request.user == comentario.usuario or user.is_superuser or request.user == posts.usuario %}
                <a class="btn btn-warning" id= "boton_post" href= "{% url 'apps.post:comentario_eliminar' pk=comentario.pk %}?next={{ request.path }}">Eliminar</a>
                {% endif %}
            </div>
    {% empty %}
    <li>No hay comentarios - ¡Coméntale! ¡Coméntale!</li>
    {% endfor %}
        <div class="cont mx-sm-5 pt-3">
            {% if request.user.is_authenticated %}
                <h2>Escribe un Comentario</h2>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="com-fg mx-sm-5 pt-3 text-center">
                            <label for="id_texto">Texto:</label>
                            <textarea class= "tex_c" name="texto" cols="40" rows="10" required="" id="id_texto"></textarea>      
                        </div>
                        <div class="alig-data mx-sm-4 pt-3">
                            <input type="submit" value="Comentar" class="btn btn-success comentar">
                        </div>
                    </form>

            {% else %}
                <h2>Debes iniciar sesion o registrarte para comentar</h2>
                <a class="btn btn-success btn-lg" href="{% url 'apps.usuario:login' %}?next={{ request.path }} #comentario">Iniciar sesion</a>
                <input type="hidden" name="next" value="Comentar">
            {% endif %}

        </div>

    </div>
</center>