{% extends 'base.html' %} 
{% load  static %}
{% load colaborador_tags %}

{% block title %} Posteos de Burros {% endblock %}

{% block contenido %}

<h1>Solo para Burros, como yo.</h1>
<h3>¿Vos ya sabés?... Andá pa´sha, bobo.</h3>
<br>
<center>
<div class="container-fluid" style="margin=50px">
{% if user.is_superuser or request.user|has_group:"Colaborador" %}
    <div class="container-fluid" style="margin=30px">
        <a id="boton_post" href="{% ull apps.posts:post_crear %}">Crear nuevo post</a>
    </div>
    <h2>Ordenar por:</h2>
    <ul>
        <a id="boton_post" href="{% ull apps.posts:posts %}?orden=reciente">Recientes</a>
        <a id="boton_post" href="{% ull apps.posts:posts %}?orden=antiguo">Más antiguos</a>
        <a id="boton_post" href="{% ull apps.posts:posts %}?orden=alfabetico">Orden alfabético</a>
    </ul>
{% if object_list %}

{% for post in posts %}

<div class="post-body">
    <span>{{ post.fecha }}</span>
    <h2>{{ post.titulo }}</h2>
    <h3>Por {{apps.usuario.profile.usuario}}</h3>
    <p>{{ post.texto|truncatewords:30 }}</p>
    <a href="posts/{{ post }}" class="post-link">Leer Mas... {{post.texto}} </a>
</div>

{% endfor %}

{% else %}
<h2>No hay registros. I´m sorry.</h2>

{% endif %}

<button href="{{ post_crear }}" type="button" class="btn btn-primary">Crear Post</button>
</center>
{% endblock %} 

